extends layout/layout
block content
  .container
    ul.nav.nav-tabs.justify-content-center
      li.nav-item
        a.nav-link.active(href='#') 全部
      li.nav-item
        a.nav-link(href='#') 代辦中
      li.nav-item
        a.nav-link(href='#') 結束
    .card-columns
      each item in todolist
        .card
          .card-body
            h5.card-title= item.title
            p.card-text
              != item.editor
          .card-footer.text-center
            a(href="/dashboard/todolist/"+item.id).btn.btn-outline-primary 編輯
            a(href="#" data-id=item.id data-title=item.title).btn.btn-danger.delete-todo.ml-1 刪除
  script.
    $(document).ready(() => {
      $('.delete-todo').on('click', function(e) {
        e.preventDefault();
        const id = $(this).data('id');
        const title = $(this).data('title');
        if (window.confirm(`你確定要刪除${title}?`)) {
          $.ajax({
            url: `/dashboard/todolist/delete/${id}`,
            method: 'delete',
          }).done((data) => {
            window.location = data.url;
          })
        }
      })
    })